<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>BillingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>BillingSystem.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>BillingSystem.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>BillingSystem.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemServlet</display-name>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>BillingSystem.ItemServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ItemListAdminServlet</display-name>
    <servlet-name>ItemListAdminServlet</servlet-name>
    <jsp-file>/AllItems</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemListAdminServlet</servlet-name>
    <url-pattern>/ItemListAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOrder</display-name>
    <servlet-name>UserOrder</servlet-name>
    <servlet-class>BillingSystem.UserOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrder</servlet-name>
    <url-pattern>/UserOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOrderServlet</display-name>
    <servlet-name>UserOrderServlet</servlet-name>
    <servlet-class>BillingSystem.UserOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrderServlet</servlet-name>
    <url-pattern>/UserOrderServlet</url-pattern>
  </servlet-mapping>
</web-app>